{% extends "profile.layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    {{ parent() }} - {{ 'profile.title'|trans }}
{% endblock title %}
{% block body_member_space %}
    <h1 class="text-center profil-title">{{ 'profile.title'|trans|upper }}</h1>
    <div class="row">
        <div class="col-lg-12 well">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body_member_space %}
