{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inscription
{% endblock %}

{% block body %}
    <h1 class="inscription text-center">INSCRIPTION</h1>
    <p class="text-justify col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">Pour soumettre une observation, il est nécessaire de s'inscrire. Si vous êtes un naturaliste professionnel, vous devrez valider les observations des autres utilisateurs. Cochez la case correspondante lors de votre inscription.</p>
{% endblock %}