{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block body %}
    <h1 class="mdp text-center">REINITIALISATION DU MOT DE PASSE</h1>
    <p class=" text-justify col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">Vous avez oublié votre mot de passe? Pas de panique! Indiquez-nous votre adresse e-mail et nous vous envoyons un lien sécurisé pour changer de mot de passe.</p>
{% endblock %}