{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Mentions légales
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="mentions">
                <h1 class=" mentions1 text-center">Mentions légales</h1>
                <p class="text-center"><b>Site internet:</b> à venir</p><br>
                <p class="text-center"><b>Editeur:</b>à venir</p><br>
                <p class="text-center"><b>Adresse:</b></p><br>
                <p CLASS="text-center"></p><br>
                <p CLASS="text-center"><b>E-mail:</b></p><br>
                <p CLASS="text-center"><b>Téléphone:</b></p><br>
                <p class="text-center"><b>Nom de l'hébergeur:</b></p><br>
                <p class="text-center"><b>adresse de l'hébergeur:</b></p><br>
                <p class="text-center"></p><br>
            </div>
        </div>
    </div>

{% endblock %}