{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Nouveau mot de passe
{% endblock %}

{% block body %}
    <h1 class="newmdp text-center">CHANGEMENT DE MOT DE PASSE</h1>
    <p class="text-justify col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">Saisissez votre nouveau mot de passe et cliquez sur valider.</p>
{% endblock %}