{% extends "layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    {{ parent() }} - {{ 'registration.title'|trans }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="inscription text-center">{{ 'registration.title'|trans|upper }}</h1>
                    <p class="text-justify">{{ 'registration.text'|trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}