{% extends "@OCCore/layout.html.twig" %}
{% block title %}
    {{ parent() }} - Inscription
{% endblock %}
{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <h1 class="inscription text-center">INSCRIPTION</h1>
                <p class="text-justify">Pour soumettre une observation, il est nécessaire de s'inscrire. Si vous êtes un naturaliste professionnel, vous devrez valider les observations des autres utilisateurs. Cochez la case correspondante lors de votre inscription.</p>

                <div class="formInscription">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}