/*=========================================================================
 COLORS
 ==========================================================================
  light green: #DCEDC8
  green:       #8BC34A
  dark green:  #689F38
  text:        #212121
  marron:      #795548
 ========================================================================== */


/*=========================================================================
 BASIC SETUP
 ========================================================================== */

@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.ttf');
}

body {
    font-family: 'Lato-Regular', sans-serif;
    color: #212121;
    font-size: 20px;
    height: 100%;
    margin-top: 75px;
}

html{
    height:100%;
}

#wrap{
    min-height:100vh;
    margin-bottom: 75px;
}

.main{
    min-height:100vh;
    width:100%;
    margin:0 0 75px 0;
    padding:0;
}

.main-home{
    min-height:100vh;
    margin-bottom: 75px;
}

section {
    margin: 60px 0;
}

.btn-default{
    background-color: #8BC34A;
    color: #fff;
    border: none;
    margin: 20px 0;
}

.btn-default:hover {
    background-color: #689F38;
}

.btn-danger{
    border: none;
    padding: 2px 10px;
}

.btn-warning{
    border: none;
    padding: 2px 10px;
}

.titre{
    margin-bottom: 50px;
    margin-top: 100px;
}


/*=========================================================================
  NAVBAR
 ========================================================================== */

.navbar{
    font-size: 18px;
}

.navbar-default{
    z-index: 5;
    background-color: #8BC34A;
    color: white;
    height: 75px;
    border-bottom: none;
}

.navbar-default .navbar-collapse{
    background-color: #8BC34A;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
    margin-top: 13px;
}

.navbar-brand img{
    margin-top: -5px;
}

#navbar li{
    margin-right: 5px;
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #DCEDC8;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.navbar-default .navbar-collapse:hover{
    color: #DCEDC8;
}

.alert-full-top{
    margin:0;
    position:absolute;
    z-index:1000;
    top:58px;
    width:100%
}

/*=========================================================================
  HEADER
 ========================================================================== */

.header {
    position: absolute;
    top: 70%;
    left: 10%;
    color: #fff;
}

.btn-brown{
    background-color: #795548;
    color: #fff;
    border-radius: 25px 25px 25px 25px;
    width: 200px;
    box-shadow: 2px 2px 7px #000;
}

.btn-brown:hover{
    color: #fff;
    text-decoration: none;
    /*border: 2px solid #8BC34A;*/
    transform: scale(1.07);
}

.nao{
    background: url("../images/header2.png") no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
}

/*=========================================================================
  ACCUEIL
 ========================================================================== */

.btn-action {
    width: 250px;
    margin: 20px;
    border-radius: 25px;
    height: 50px;
    background-color: #8BC34A;
    color: #fff;
    border: none;
}

.btn-action:hover {
    color: #fff;
    border: 1px solid #fff;
}

#boutons{
    text-align: center;
    margin-top: 30px;
}

.button i{
    margin-right: 5px;
}

.dos {
    color: #689F38;
    text-align: center;
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 40px;
}

#map {
    margin-top: 40px;
}

.carte{
    height: 400px;
}

.last-obs {
    font-size: 80%;
}

.last-obs li {
    margin: 20px 0;
}

.last-obs a {
    color: #689F38;
}

#observations-list {
    padding-left: 0;
}

li{
    list-style-type: none;
}

/*=========================================================================
  CONTACT
 ========================================================================== */

.contact{
    margin: 30px 0 50px;
}

.contacter {
    margin-top: 100px;
}

.coordonnees h2 {
    margin-top: 40px;
    margin-bottom: 60px;
}

.adresse {
    margin-top: -100px;
}

/*=========================================================================
  INSCRIPTION
 ========================================================================== */

.inscription{
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-inscription {
    margin-bottom: 30px;
}

.text-info {
    font-size: 18px;
}

.text-password {
    margin-bottom: 25px;
}

/*=========================================================================
  CONNEXION
 ========================================================================== */

.connexion{
    padding-top: 80px;
    margin-bottom: 50px;
}

/*=========================================================================
  RÉINITIALISATION MOT DE PASSE
 ========================================================================== */

.mdp{
    padding-top: 80px;
    margin-bottom: 50px;
}

/*=========================================================================
  CHANGEMENT MOT DE PASSE
 ========================================================================== */

.newmdp{
    padding-top: 80px;
    margin-bottom: 50px;
}

/*=========================================================================
  RECHERCHE
 ========================================================================== */

.recherche{
    padding-top: 80px;
    margin-bottom: 100px;
}

.result{
    margin-top: 30px;
}

/*=========================================================================
  LISTE OBSERVATION
 ========================================================================== */

/* picto nombre de photo */
.badge{
    margin: -30px 0 0 -10px;
}

/*=========================================================================
  DÉTAIL DE LA RECHERCHE
 ========================================================================== */

#observation h1{
    font-size: 22px;
}

#observation h2{
    font-size: 20px;
}

.observation {
    margin-top: 20px;
    padding-left: 30px;
}

.photos{
    margin-bottom: 20px;
}

.gps {
    font-size: 16px;
}

/*=========================================================================
  SAISIE
 ========================================================================== */

.enregistrement{
    padding-top: 50px;
    margin-bottom: 50px;
}

/*=========================================================================
  PAGINATION
 ========================================================================== */

.pagination> li.active>a{
    background-color: #689F38;
    border: #689F38;
}

.pagination> li.active>a:hover{
    background-color: #DCEDC8;
    color: #689F38;
}

.pagination>li>a{
    color:#689F38;
}

.pagination>li>a:hover{
    color:#689F38;
}

.lien{
    margin-bottom: 30px;
}


/*=========================================================================
  VALIDATION
 ========================================================================== */

.retourliste{
    margin-top: 80px;
}

.commentaire {
    margin-top: 30px;
}

.btn-rejeter {
    padding: 10px 16px;
}

.comment {
    font-style: italic;
    font-size: 18px;
    margin: 20px 10px 30px 0;
}

/*=========================================================================
  MENTIONS LÉGALES
 ========================================================================== */

.mentions{
    padding-top: 100px;
}
.mentions1{
    padding-bottom: 50px;
}

/*=========================================================================
  FOOTER
 ========================================================================== */

footer {
    background-color: #8BC34A;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

footer a {
    color: #fff;
}

footer a:hover{
    text-decoration: none;
    color: #DCEDC8;
}

/*=========================================================================
  TABLEAU DE BORD
 ========================================================================== */

#menu a{
    color:#689F38;
}

#menu a:hover{
    text-decoration: none;
}

.profil-title {
    margin: 30px 0;
}

.blockobs {
    margin-top: 50px;
}

.btn-saisie {
    margin-top: 100px;
}

/*=========================================================================
  MEDIA QUERIES
 ========================================================================== */

@media (min-width: 545px) {
    #menu{
        background-color: #DCEDC8;
        color: #689F38;
        height: 50px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        text-align: center;
    }

    #menu li{
        display: inline-block;
        padding-top: 10px;
    }

    #menu li a {
        text-transform: uppercase;
        font-size: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 544px) {
    .nao {
        height: 400px;
    }

    .header h1 {
        font-size: 23px;
    }
    #menu{
        background-color: #DCEDC8;
        color: #689F38;
        height: 50px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        text-align: center;
    }

    #menu li{
        display: inline-block;
        padding-top: 10px;
    }

    #menu li a {
        text-transform: uppercase;
        font-size: 63%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .blockobs {
        margin-top: 20px;
    }

    table {
        font-size: 85%;
    }
}

@media (max-width: 768px) {

    .titre{
        margin-top: 40px;
    }

    .imgoiseau {
        width: 300px;
        margin-bottom: 30px;
    }

    /*saisie*/
    .saisie{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .enregistrement{
        margin-top: -80px;
    }

    .result{
        margin-left: 100px;
    }

    .consult{
        margin-bottom: 40px;
    }

    .carte{
        margin-top: 20px;
    }

    /*connexion*/
    .oubli{
        margin-top: 15px;
    }

    /*oubli mot de passe*/
    .control-label-emailoubli{
        margin-left: 320px;
    }

    .reinit{
        margin-left: 140px;
    }

    .identite{
        padding-bottom: -200px;
    }


    .titremdp{
        margin-left: 150px;
    }

    .blockmail{
        padding-top: 20px;
    }

    .blockmdp{
        padding-top: 20px;
    }

    .modifmdp{
        margin-left: 220px;
    }

    /*mes observation*/
    .legende{
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .tableau{
        padding-bottom: 50px;
    }

    /*validations*/
    .titreval{
        margin-top: -650px;
        padding-bottom: 20px;
    }

    .retourliste{
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .paginationval{
        padding-top: -30px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /*navbar*/
    #navbar {
        font-size: 78%;
    }

    #navbar li a {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-brand img{
        width: 120px;
        padding-top: 5px;
    }

    .titre{
        margin-top: 40px;
    }

    /*saisie*/
    .saisie{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .enregistrement{
        margin-top: -50px;
    }

    .control-label-espece{
        margin-left: 272px;
    }

    .consult{
        margin-bottom: 40px;
    }

    /*contact*/
    .control-label-message{
        margin-left: 140px;
        margin-right: -20px;
    }

    .control-label-robot{
        margin-top: 20px;
    }

    /*connexion*/
    .connexion{
        padding-top: 120px;
    }

    /*reinitialisation*/
    .mdp{
        padding-top: 120px;
    }

    .newmdp{
        padding-top: 120px;
    }

    /*recherche*/
    .recherche{
        padding-top: 120px;
    }

    .detail{
        padding-top: 120px;
    }

    /*inscription*/
    .control-label-prenom{
        margin-left: 247px;
    }

    .control-label-nom{
        margin-left: 243px;
    }

    .control-label-email{
        margin-left: 243px;
    }

    .control-label-mdpform{
        margin-left: 243px;
    }

    .control-label-confmdp{
        margin-left: 243px;
    }

    .control-label-pro{
        margin-top: 5px;
        margin-left: 70px;
    }

    .btnInscr{
        margin-right: 25px;
    }

    /*oubli mdp*/
    .control-label-emailconnexion{
        margin-left:510px;
    }

    .control-label-mdpconnexion{
        margin-left: 260px;
    }

    .control-label-remember{
        margin-left: 240px;
    }

    /*connexion*/
    .oubli{
        margin-left: 310px;
        margin-top: 15px;
    }

    .reinit{
        margin-left: 205px;
    }

    .control-label-emailoubli{
        margin-left: 390px;
    }

    /*mes observation*/
    .legende{
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .tableau{
        padding-bottom: 50px;
    }

    /*validations*/
    .titreval{
        padding-bottom: 20px;
    }

    .paginationval{
        margin-top: 60px;
        padding-bottom: 100px;
    }

    .detail{
        margin-top: -50px;
    }

    /*nouveau mdp*/
    .control-label-newmdp{
        margin-left: 230px;
    }

    .control-label-confnewmdp{
        margin-left: 230px;
    }

    .no-padding{
        padding: 0;
    }
}

@media(max-width:992px){

    /*tableaux validations et observations*/
    .responsive-table-line td:before { content: attr(data-title); }
    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    .responsive-table-line thead tr {
        display:none;
    }
    .responsive-table-line td {
        position: relative;
        border: 0 solid transparent;
        padding-left: 50% !important;
        white-space: normal;
        text-align:right;
    }

    .responsive-table-line td:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height:100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow:hidden !important;
        text-align:left;
        background-color:#f8f8f8;
        padding:2px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {

    /*navbar*/
    #navbar {
        font-size: 90%;
    }

    #navbar li a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-brand img{
        width: 143px;
        padding-top: 0;
    }

    /*saisie*/
    .saisie{
        margin-right: 150px;
    }

    .enregistrement{
        margin-top: 50px;
    }

    .consult{
        margin-top: 40px;
    }

    .control-label-espece{
        margin-left: 400px;
        margin-right: -68px;
    }

    .control-label-indiv{
        margin-left: -120px;
        margin-right: 36px;
    }

    /*contact*/

    .adresse {
        margin-top: 0;
    }

    .suiteform{
        padding-top: 90px;
    }

    .control-label-message{
        margin-left: 75px;
        margin-right: -160px;
    }

    .control-label-robot{
        margin-top: 20px;
    }

    /*connexion*/
    .connexion{
        padding-top: 120px;
    }

    .mdp{
        padding-top: 120px;
    }

    .newmdp{
        padding-top: 120px;
    }

    /*recherche*/
    .recherche{
        padding-top: 120px;
    }

    /*saisie*/
    .result{
        margin-top: 40px;
        margin-left: 220px;
    }

    .resulttext{
        margin-top: 20px;
        margin-left: -40px;
    }

    .detail{
        padding-top: 120px;
    }

    .enregistrement{
        padding-top: 120px;
    }

    /*inscription*/

    .control-label-prenom{
        margin-left: 386px;
    }

    .control-label-nom{
        margin-left: 303px;
    }

    .control-label-email{
        margin-left: 303px;
    }

    .control-label-mdpform{
        margin-left: 303px;
    }

    .control-label-confmdp{
        margin-left: 303px;
    }

    .control-label-pro{
        margin-top: 5px;
        margin-left: 70px;
    }

    .btnInscr{
        margin-right: 25px;
    }

    /*connexion*/
    .control-label-emailconnexion{
        margin-left:534px;
    }

    .control-label-mdpconnexion{
        margin-left: 371px;
    }

    .control-label-remember{
        margin-left: 50px;
    }

    .oubli{
        margin-left: 400px;
        margin-top: 15px;
    }

    /*oubli mot de passe*/
    .reinit{
        margin-left: 310px;
    }

    .control-label-emailoubli{
        margin-left: 460px;
    }

    .formProfil{
        margin-left: 250px;
    }

    .titreadmail{
        margin-left: -10px;
    }

    /*mes observation*/
    .pagination{
        padding-top: 0;
    }

    /*validations*/
    .blockval{
        margin-top: 150px;
    }

    .photos{
        margin-top: 20px;
    }

    /*nouveau mdp*/
    .control-label-newmdp{
        margin-left: 250px;
    }

    .control-label-confnewmdp{
        margin-left: 250px;
    }

    #menu{
        background-color: #DCEDC8;
        color: #689F38;
        width: 250px;
        position: fixed;
        bottom: 0;
        left: 20px;
        top:10px;
        min-height: 750px;
        height: 100%;
        margin-left:-50px;
        padding-top: 100px;
        padding-left: 20px;
    }

    #menu li {
        margin-bottom: 15px;
        display: block;
    }

    #menu li a {
        font-size: 85%;
    }

    #menu li a:hover {
        color: #8BC34A;
    }

    .block-detail {
        margin: 50px 0 50px 40px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #navbar {
        font-size: 100%;
    }

    .titre{
        margin-top: 100px;
    }

    /*contact*/
    .suiteform{
        padding-top: 70px;
    }

    .control-label-robot{
        margin-left: 75px;
    }

    /*saisie*/
    .saisie{
        margin-top: 40px;
        margin-right: 100px;
    }

    .enregistrement{
        margin-top: 0;
    }

    .consult{
        margin-top: 40px;
    }

    .control-label-espece{
        margin-left: 510px;
        margin-right: -210px;
    }

    .control-label-indiv{
        margin-left: -80px;
        margin-right: 80px;
    }

    /*recherche*/
    .result{
        margin-top: 40px;
    }

    .resulttext{
        margin-top: 20px;
    }


    /*inscription*/
    .control-label-prenom{
        margin-left: 525px;
    }

    .control-label-nom{
        margin-left: 423px;
    }

    .control-label-email{
        margin-left: 423px;
    }

    .control-label-mdpform{
        margin-left: 423px;
    }

    .control-label-confmdp{
        margin-left: 423px;
    }

    .control-label-pro{
        margin-top: 5px;
        margin-left: 70px;
    }

    .btnInscr{
        margin-right: 25px;
    }

    /*connexion*/
    .control-label-emailconnexion{
        margin-left:630px;
    }

    .control-label-mdpconnexion{
        margin-left: 435px;
    }

    .control-label-remember{
        margin-left: 50px;
    }

    .oubli{
        margin-top: 15px;
        margin-left: 520px;
    }

    .btnConnexion{
        margin-left: 430px;
    }

    /*oubli mdp*/
    .reinit{
        margin-left: 400px;
    }

    .control-label-emailoubli{
        margin-left: 560px;
    }

    /*mes observations*/
    .legende{
        padding-top: 50px;
        padding-bottom: 40px;
    }

    /*validations*/
    .blockval{
        margin-top: 100px;
    }

    .btn-valider {
        margin-left: -560px;
    }

    /*nouveau mdp*/
    .control-label-newmdp{
        margin-left: 430px;
    }

    .control-label-confnewmdp{
        margin-left: 430px;
    }

    .changement{
        margin-left: 520px;
    }

    .block-detail {
        margin-left : 100px;
    }
}