{% extends "@OCCore/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-lg-12">
                    {% include '@OCCore/flashMessageBloc.html.twig' with {'type':'danger', 'message': 'resetting.password_already_requested'|trans} %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
