body {
    font-family: 'Lato-Regular';
    color: #212121;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.ttf');
}

/*menu*/

.navbar-default{
    background-color: #689F38;
    color: white;
    height: 75px;
}

.navbar-brand{
    padding-left: 125px;
}

.navbar-brand img{
    margin-top: -10px;
}

#navbar{
    padding-left: 325px;
}

#navbar li{
    margin-right: 25px;
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #DCEDC8;
    text-decoration: underline;
}

.navbar-default .navbar-collapse:hover{
    color: #DCEDC8;
}

/*accueil*/
.nao{
    padding-top: 550px;
}

.button{
    padding-top: 50px;
    margin-bottom: 40px;
}

.btn-default{
    border-radius: 25px 25px 25px 25px;
    background-color: #689F38;
    color: white;
}

.nao i{
    padding-right: 20px;
}

.saisie{
    margin-right: 100px;
}

.titre{
    padding-bottom: 25px;
    border-bottom: solid 1px ;
    width: 450px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.obs{
    padding-top: 60px;
}

.observations{
    padding-bottom: 25px;
    border-bottom: solid 1px ;
    width: 500px;
    margin-bottom: 50px;
}

.obs h3{
    color: #689F38;
    margin-top: -8px;
}

.accueil{
    padding-top: 40px;
}

/*Contact*/
.contacter{
    padding-top: 40px;
}

.contacter h2{
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-default{
    background-color: #689F38;
}

/*Mentions légales*/
.mentions{
    padding-top: 40px;
}

/*footer*/
footer {
    background-color: #689F38;
    margin-top: 100px;
    margin-bottom: -5px;
    height: 75px;
    width: 100%;
    display: inline-block;
}

footer p {
    color: white;
}

footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: #DCEDC8;
}

.footer3 i{
    padding-right: 10px;
}

.footer{
    padding-top: 30px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .button{
        margin-left: 300px;
    }

    .observations{

    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
    .button {
        margin-left: 350px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .button{
        margin-left: 350px;
    }
}


