body {
    font-family: 'Lato-Regular';
    color: #212121;
    font-size: 20px;
}


@font-face {
    font-family: 'Lato-Regular';
    src: url('Lato-Regular.ttf');
}

/*menu*/
.navbar{
    font-size: 18px;
}


.navbar-default{
    background-color: #689F38;
    color: white;
    height: 75px;
}

.navbar-default .navbar-collapse{
    background-color: #689F38;
}

.navbar-brand{
padding-left: 125px;
}

.navbar-brand img{
    margin-top: -10px;
}


#navbar li{
    margin-right: 5px;
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #DCEDC8;
    text-decoration: underline;
}

.navbar-default .navbar-collapse:hover{
    color: #DCEDC8;
}

/*accueil*/
.nao{
    padding-top: 550px;
}

.button{
    margin-bottom: 40px;
}

.btn-default{
    border-radius: 25px 25px 25px 25px;
    background-color: #689F38;
    color: white;
}

.nao i{
    padding-right: 20px;
}


.titre{
    padding-bottom: 25px;
    border-bottom: solid 1px ;
    width: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.obs{
    padding-top: 60px;
}

.observations{
    padding-bottom: 25px;
    border-bottom: solid 1px ;
    width: 450px;
    margin-bottom: 50px;
}

.obs h3{
    color: #689F38;
    margin-top: -8px;
}

.accueil{
    padding-top: 40px;
}

.carte{
    padding-bottom: 20px;
}

.dos{
    padding-top: 20px;
}

li{
    list-style-type: none;
}

/*association*/
.assoc{
    margin-top: 100px;
    margin-left: 160px;
    margin-bottom: 50px;
}

/*Contact*/
.contacter{
    padding-top: 80px;
}

.contacter h2{
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-default{
    background-color: #689F38;
}

/*inscription*/

.inscription{
    padding-top: 80px;
    margin-bottom: 50px;
}

/*connexion*/
.connexion{
    padding-top: 80px;
    margin-bottom: 50px;
}

/* reinitialisation de mdp*/
.mdp{
    padding-top: 80px;
    margin-bottom: 50px;
}

/*changement mdp*/
.newmdp{
    padding-top: 80px;
    margin-bottom: 50px;
}

/*recherche*/
.recherche{
    padding-top: 80px;
    margin-bottom: 50px;
}

/*Mentions légales*/
.mentions{
    padding-top: 100px;
}

.mentions1{
    padding-bottom: 50px;
}

/*footer*/
footer {
    background-color: #689F38;
    margin-top: 100px;
    margin-bottom: -5px;
    height: 75px;
    width: 100%;
    display: inline-block;
    font-size: 15px;
}

footer p {
    color: white;
    margin-left: 110px;

}

footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: #DCEDC8;
}

.footer3 i{
    padding-right: 12px;
}

.footer {
    padding-top: 30px;
}

@media (max-width: 768px) {
    .button{
        margin-left: 230px;
    }

    .footer1{
        margin-right: -80px;
    }

    .footer2{
        margin-right: -110px;
    }

    .saisie{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .consult{
        margin-bottom: 40px;
    }

    .carte{
        margin-bottom: 20px;
        margin-top: 20px;
    }


}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .button{
        margin-left: 300px;
    }

    .footer1{
        margin-right: -95px;
    }

    .footer2{
        margin-right: -95px;
    }

    .saisie{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .consult{
        margin-bottom: 40px;
    }

    .carte{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .contacter{
        padding-top: 100px;
    }

    .assoc{
        margin-top: 120px;
    }

    .inscription {
        padding-top: 120px;
    }

    .connexion{
        padding-top: 120px;
    }

    .mdp{
        padding-top: 120px;
    }

    .newmdp{
        padding-top: 120px;
    }

    .recherche{
        padding-top: 120px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {

    .footer1{
        margin-right: 45px;
    }

    .footer2{
        margin-right: -30px;
    }

    .button{
        margin-bottom: 40px;
    }

    .saisie{
        margin-right: 150px;
    }

    .consult{
        margin-top: 40px;
    }

    .contacter{
        padding-top: 100px;
    }

    .assoc{
        margin-top: 120px;
    }

    .inscription {
        padding-top: 120px;
    }

    .connexion{
        padding-top: 120px;
    }

    .mdp{
        padding-top: 120px;
    }

    .newmdp{
        padding-top: 120px;
    }
    .recherche{
        padding-top: 120px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .footer1{
        margin-right: 75px;
    }

    .footer2{
        margin-right: 75px;
    }

    .button{
        margin-bottom: 40px;
        margin-left: 500px;
    }

    .accueil{
        margin-bottom: 50px;
    }

    .saisie{
        margin-top: 40px;
        margin-right: 100px;
    }

    .consult{
        margin-top: 40px;
    }

}


