{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - L'association
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <h1 class="titre text-center">NOS AMIS LES OISEAUX</h1>
            </div>

            <div class="row">
                <img class="imgoiseau center-block col-sm-6" src="{{ asset('/images/oiseau1.jpg') }}" alt="image oiseau">
                <p class="col-sm-6">Nos amis les oiseaux est une association fondée en 2012. Elle œuvre au quotidien pour la protection des espèces, la préservation de leur habitat, et pour l'éducation et la sensibilisation à l'environnement.<br/><br/>
                    En 2016, elle a mis en place une plateforme participative pour la saisie d'observations ornithologiques et la communication des informations collectées. Ce projet d'inscrit dans le cadre d'un programme de recherche visant à étudier les effets du climat, de l'urbanisme et de l'agriculture sur  la biodiversité.</p>
            </div>
        </div>
    </div>

{% endblock %}