{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - L'association
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <h1 class="assoc">NOS AMIS LES OISEAUX</h1>
            </div>

            <div class="row">
            <img class=" col-lg-5 col-md-5 col-sm-offset-2 col-xs-offset-2 col-sm-7 col-xs-9" src="">
            <p class="text-justify  col-lg-push-4 col-md-push-4 col-sm-offset-2 col-xs-offset-2 col-lg-4 col-md-4 col-sm-8 col-xs-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id elit justo. Mauris sollicitudin magna interdum ipsum auctor, vitae cursus dui dignissim. Donec tincidunt ornare rhoncus. Phasellus et scelerisque lorem, et ornare erat. Curabitur placerat dolor id vehicula lacinia. Quisque id tempor ipsum, vel tincidunt augue. Etiam vel nisl quis velit sollicitudin luctus. Nam ut risus erat. Nullam id sem ligula. Vestibulum ut ex sed sapien fringilla luctus. Morbi ac ipsum eget eros laoreet auctor non vitae leo.<br/>>
                Phasellus scelerisque ultrices velit sit amet porta. Sed finibus lacus laoreet enim blandit cursus. Nulla sagittis auctor ipsum, eget feugiat metus varius ut. Sed et neque ante. Nullam augue quam, pulvinar et enim eu, accumsan volutpat risus. Phasellus accumsan ipsum vitae erat fringilla maximus. Fusce ut iaculis mi.<br/></p>
            </div>
        </div>
    </div>

{% endblock %}