{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - L'association
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <h1 class="assoc">NOS AMIS LES OISEAUX</h1>
            </div>

            <div class="row">
                <p class="presentation text-justify col-lg-5 col-md-6 col-md-push-1 col-xs-12">Nos amis les oiseaux est une association fondée en 2012. Elle oeuvre au quotidien pour la protection des espèces, la préservation de leurs espèces, et pour l'éducation et la sensibilisation à l'environnement.<br/>
                    En 2016, elle a mis en place une plateforme participative pour la saisie d'observations ornithologiques et la communication des informations collectées. Ce projet d'inscrit dans le cadre d'un programme de recherche visant à étudier les effets du climat, de l'urbanisme et de l'agriculture sur  la biodiversité.</p>
                <p class="imgoiseau">
                    <img class="col-lg-5 col-md-5 col-sm-6 col-sm-push-3 col-xs-6 col-xs-push-3" src="{{ asset('/images/oiseau1.jpg') }}" alt="image oiseau">
                </p>
            </div>
        </div>
    </div>

{% endblock %}