{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Mentions légales
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="mentions">
                    <h1 class=" mentions1 text-center">Mentions légales</h1>
                    <p class="text-center"><b>Site internet:</b> http://nalo-oc-projet6.herokuapp.com/</p><br>
                    <p class="text-center"><b>Editeurs:</b> Michel Dujardin</p><br>
                    <p CLASS="text-center"><b>E-mail:</b> assocation.nao@gmail.com</p><br>
                    <p class="text-center"><b>Nom de l'hébergeur:</b> Heroku.com</p><br>
                    <p class="text-center"><b>adresse de l'hébergeur:</b><br/>
                        650 7th Street<br/>
                        San Francisco, CA<br/>
                        94103</p><br>
                    <p class="text-center"><b>téléphone:</b> +44 800 808-5158</p><br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}